
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-8);
  flex-grow: 1;
}

.aside {
  display: none;
  background: var(--color-surface);
}

.title {
  margin-bottom: var(--space-9);
  font-size: var(--size-2xl);
  font-weight: 700;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;
  max-width: 300px;
}

.error {
  color: var(--color-error);
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
    flex-direction: row;
  }

  .main,
  .aside {
    flex: 1 0 50%;
  }

  .aside {
    display: block;
  }
}
