.sidebar {
  padding: var(--space-8);
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

.category {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.categoryTitle {
  font-size: var(--size-xs);
  font-weight: 500;
  color: var(--color-text-light);
  padding: 0 var(--space-4);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarLink {
  justify-content: flex-start;
  font-weight: 500;
  color: var(--color-text-light);
  transition: var(--transition);
}

.sidebarLink:hover,
.sidebarLink[data-active] {
  color: var(--color-text);
  background-color: var(--color-surface-hover);
}

.sidebarLink svg {
  width: 1.25rem;
  height: 1.25rem;
}
